numpy
scipy
matplotlib
pandas
jupyter
ipykernel
qiskit==0.41.0
qiskit-aer==0.11.2
qiskit-terra==0.23.1
qiskit-ibmq-provider==0.20.0
qiskit-ignis==0.7.1
qiskit-aqua==0.9.5
qutip==4.7.1
PennyLane==0.29.1
PennyLane-Lightning==0.29.0
torch==1.13.1
plotly==5.13.1
pylatexenc==2.10